footer[role="contentinfo"]
    background-color: transparent
    .logo img
        height: 70px
    .content ~ div
        @include media-breakpoint-up(md)
            align-items: center
        @include media-breakpoint-down(md)
            display: flex
            flex-direction: column-reverse
            nav
                margin-bottom: 1rem
