footer[role="contentinfo"]
    background-color: transparent
    .logo img
        height: 70px
    .content ~ div
        

        @include media-breakpoint-down(md)
            display: flex
            flex-direction: column-reverse
            small ~ small
                margin-bottom: px2rem(10)
            nav
                margin-bottom: 1rem
