// SYSTEM

// header
header#document-header
    .page-mobilization &,
    .ancestor-mobilization &,
    .category-campaigns &,
    .page-support &,
    .ancestor-support &
        &, html.has-menu-opened &, 
            background-color: $mobilizing-red
            .dropdown-menu
                background-color: $mobilizing-red
    
    .page-podcast &,,
    .ancestor-podcast &,
    .category-podcast &
        &, &.is-sticky, html.has-menu-opened &, 
            background-color: $podcast-orange
            span, a, button
                &, &:focus, &:hover
                    color: var(--color-text)
            .dropdown-menu
                background-color: $podcast-orange
                span, a, button
                    &, &:focus, &:hover
                        color: var(--color-text)
    
    .events__section &,
    .events__page &,
    .events_categories__term &
        .logo
            filter: invert(1)
        &, &.is-sticky, html.has-menu-opened &, 
            background-color: $agenda-yellow
            span, a, button
                &, &:focus, &:hover
                    color: var(--color-text)
            .dropdown-menu
                background-color: $agenda-yellow
                span, a, button
                    &, &:focus, &:hover
                        color: var(--color-text)
    
    .page-research &,
    .ancestor-research &
        &, html.has-menu-opened &, 
            background-color: $investigation-purple
            .dropdown-menu
                background-color: $investigation-purple

    @include media-breakpoint-down(md)
        .menu .nav-level-1 > li:not(:last-child) 
            border-bottom: var(--border-width) solid alphaColor(var(--color-background), 0.3)


// call to action block

// call to action
.block-call_to_action
    // red: mobilization/campaigns/donate
    &.block-class-cta-mobilization,
    .page-mobilization &,
    .ancestor-mobilization &,
    .category-campaigns &,
    .page-support &,
    .ancestor-support &
        &.block-call_to_action--accent_background
            --cta-background-color: #{$mobilizing-red}
    
    // yellow: events
    .events__section &,
    .events__page &,
    .page-about &,
    .ancestor-about &
        &--no_background
            .actions a:first-child
                --btn-background: #{$agenda-yellow}
                --btn-color: var(--color-text)
                --btn-border: 1px solid #{$agenda-yellow}
    
    .events__section &,
    .events__page &
        &--accent_background
            --cta-background-color: #{$agenda-yellow}
    
    // purple: research
    .page-research &,
    .ancestor-research &
        &--no_background
            .actions a:first-child
                --btn-background: #{$investigation-purple}
    
    .page-research &,
    .ancestor-research &
        &--accent_background
            --cta-background-color: #{$investigation-purple}
            .call_to_action
                color: var(--color-background)
    // orange: podcast
    .page-podcast &,
    .ancestor-podcast &
        &--no_background
            .actions a:first-child
                background: #{$podcast-orange}
    
    .page-podcast &,
    .ancestor-podcast &
        &--accent_background
            --cta-background-color: #{$podcast-orange}
    
    // light purple background and deep blue text for 'about' section
    .page-about &,
    .ancestor-about &
        &--accent_background
            --cta-background-color: #{$light-purple}
            .call_to_action
                color: var(--color-accent)
                .actions a
                    --btn-background: var(--color-accent)
                    --btn-border: 1px solid var(--color-accent)
                    --btn-color: var(--color-background)