$color-accent: #881F1F
$color-accent-alt: #ffa800
$color-text: #000000
$color-background: #FFFFFF

$body-font-family: "Raleway", sans-serif
$heading-font-family: "Raleway", sans-serif
$lead-size-desktop: px2rem(40)

$header-border-bottom-width: 0
$header-logo-height-desktop: 60px
$header-background: $color-background
$footer-logo-height-desktop: 70px

$block-call-to-action-background: #FBAD31
$block-call-to-action-color: $color-text