// colors
$color-accent: #1C1C8B
$color-text: #180D33
$color-background-alt: #D6D6D6

// site colors
$light-pink: #FFE9E7 // also bg alt
$light-purple: #E5D6FC
$mobilizing-red: #FF4E47
$investigation-purple: #AA47FF
$podcast-orange: #FFAA48
$agenda-yellow: #FEEA0C
$climate-green: #117052

// TYPOGRAPHY
$body-font-family: "Helvetica Neue", sans-serif
$heading-font-family: $body-font-family
$heading-font-weight: bold

$h1-size-desktop: pxToRem(60)
$h1-size: pxToRem(30)

$h5-text-transform: none

// head
$lead-sidebar-size: pxToRem(24)
$lead-sidebar-size-desktop: pxToRem(40)
$lead-sidebar-line-height-desktop: 120%
$lead-sidebar-weight: normal

// meta
$meta-weight: normal

// signature
$signature-weight: normal

// COMPONENTS
// header
$header-background: $color-accent
$header-color: var(--color-background)
$header-sticky-background: $header-background
$header-sticky-color: $header-color
$header-sticky-dropdown-background: $header-background
$header-sticky-dropdown-color: $header-color
$header-logo-height-desktop: pxToRem(42)
$header-border-bottom-width: 0

// footer
$footer-background-color: $color-accent
$footer-color: var(--color-background)
$footer-logo-height: pxToRem(70)
$footer-logo-height-desktop: pxToRem(94)

// hero
$hero-background-color: var(--color-background)
$hero-height-desktop: unset

// btn | button
$btn-border-radius: pxToRem(8)
$btn-padding: pxToRem(12) pxToRem(10) pxToRem(8)
$btn-padding-desktop: pxToRem(18) pxToRem(16) pxToRem(12)

// BLOCKS
// cta | call to action
$block-call-to-action-button-background: $mobilizing-red

$block-call-to-action-accent-background: $light-pink
$block-call-to-action-accent-color: var(--color-text)
$block-call-to-action-all-actions-as-buttons: true
$block-call-to-action-button-background: $color-accent

// key figures
$block-key_figures-unit-font-weight: normal
$block-key_figures-number-font-weight: normal
$block-key_figures-font-size-lg: pxToRem(22)

// section
$article-media-aspect-ratio: 1
$page-media-aspect-ratio: $article-media-aspect-ratio
