{{ $modalId := print "modalID_" .Slug }}
<article itemscope itemtype="https://schema.org/Person">
  <a class="person" type="button" data-bs-toggle="modal" data-bs-target="#{{ $modalId }}">
    <div class="avatar" itemprop="image">
      {{ if .Params.image }}
        {{ partial "commons/image.html"
              (dict
                "alt"    .Title
                "image"    .Params.image
                "class"    "img-fluid"
                "mobile"   "100x100"
                "tablet"   "152x152"
                "desktop"  "152x152"
              )}}
      {{ end }}
    </div>
    <div>
      <p class="name" itemprop="name">{{ safeHTML .Title }}</p>
      <p itemprop="jobTitle">{{ .Params.roles }}</p>
    </div>
  </a>
  {{ partial "persons/modal.html"
        (dict
          "modalId" $modalId
          "title" .Title
          "abstract" .Content
        ) }}
</article>
