.person
    text-align: center
    a
        display: flex
        flex-direction: column-reverse
        text-decoration-color: transparent

    .avatar
        width: 100%

    .name + p
        color: rgba($body-color, .7)

.persons
    justify-content: center
