<div class="content">
  <div>
    {{ partial "footer/logo.html" }}
  </div>
</div>

<div>
  <small>@AfricanFuturesActionLab2021</small>
  {{ partial "footer/credit.html" }}
  {{ if site.Data.menus.legal }}
    <nav role="navigation" aria-label="{{ i18n "commons.menu.legal" }}">
      {{ partial "commons/menu.html"
            (dict
              "items"       site.Data.menus.legal
              "level"       1
              "class"       "nav-legal"
            )}}
    </nav>
  {{ end }}
  <nav aria-label="{{ i18n "commons.menu.social" }}">
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.social
            "level"       1
            "class"       "nav-social"
          )}}
  </nav>
</div>

<script>
  if (document.location.host !== 'localhost:1313'
      && document.location.host !== 'mit-africanfutures.netlify.app'
      && document.location.host !== 'africanfutures.mit.edu') {
    document.location.href = "https://africanfutures.mit.edu";
  }
</script>
