<div class="content">
  <div>
    {{ partial "footer/logo.html" }}
  </div>
</div>

<div class="complementary">
  <small>@AfricanFuturesActionLab2021</small>
  {{ partial "footer/credit.html" }}
  {{ if site.Data.menus.legal }}
      {{ partial "commons/menu.html"
            (dict
              "items"       site.Data.menus.legal
              "level"       1
              "class"       "nav-legal"
            )}}
  {{ end }}
  {{ partial "commons/menu.html"
        (dict
          "items"       site.Data.menus.social
          "level"       1
          "class"       "nav-social"
        )}}
</div>
