<article class="post">
  <div class="media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "alt"      .Title
              "mobile"   "351x291"
              "tablet"   "334x167"
              "desktop"  "634x317"
            ) -}}
    {{- else -}}
      {{- partial "commons/image-default.html" (dict "class" "img-fluid") -}}
    {{- end -}}
  </div>
  <div>
    <p class="post-categories">
      {{- range $index, $s := .GetTerms "categories" -}}
        {{ if ne $index 0 }},{{ end }}
        {{- safeHTML .Title -}}
      {{- end -}}
    </p>
    <p class="title">
      <a href="{{ .Permalink }}" class="stretched-link">
        {{ safeHTML (partial "CorrectPunctuation" .Title) }}
      </a>
    </p>
  </div>
</article>
