{{ $position := .position }}
<section class="block block-organization_chart" id="block-{{ $position }}">
  <div class="container">
    <h2>{{ partial "PrepareHTML" .title }}</h2>
    <div class="persons">
      {{ range .data.persons }}
        {{ $person := site.GetPage (printf "/persons/%s" .slug) }}
        {{ $role := .role }}
        {{ with $person }}
          <div>
            {{ $modalId := print "modalID_" .Slug }}
            <article class="person" itemscope itemtype="https://schema.org/Person">

              {{ if (partial "GetTextFromHTML" .Content) }}
              <a type="button" data-bs-toggle="modal" data-bs-target="#{{ $modalId }}">
              {{ end }}

                <div>
                  <p class="name" itemprop="name">{{ partial "PrepareHTML" .Title }}</p>
                  <p itemprop="jobTitle">{{ partial "PrepareHTML" $role }}</p>
                </div>
                <div class="avatar" itemprop="image">
                  {{ if .Params.image }}
                    {{ partial "commons/image.html"
                          (dict
                            "alt"    .Title
                            "image"    .Params.image
                            "mobile"   "76x76"
                            "tablet"   "152x152"
                            "desktop"  "260x260"
                          )}}
                  {{ end }}
                </div>

              {{ if (partial "GetTextFromHTML" $person.Content) }}
              </a>
              {{ end }}

              {{ if (partial "GetTextFromHTML" .Content) }}
                {{ partial "persons/modal.html"
                      (dict
                        "modalId" $modalId
                        "title" .Title
                        "abstract" .Content
                      ) }}
              {{ end }}
            </article>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
