{{ define "main" }}
  {{ partial "home/hero.html" . }}

  <div class="container">

    {{ if (partial "GetTextFromHTML" .Content) }}
      <section>
        <p class="lead">
          {{ partial "PrepareHTML" .Content }}
        </p>
      </section>
    {{ end }}

    {{- range site.Data.menus.primary -}}
      <section>
        {{ if eq .kind "news" }}
          {{ partial "home/top.html" . }}
          {{ partial "home/posts.html" . }}
        {{ else }}
          {{ if .children }}
            {{ partial "home/pages.html" . }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}

  </div>
{{ end }}
