{{ define "main" }}
  {{ partial "header/hero.html"
        (dict
          "title" .Params.header_text
          "image" .Params.image
          "context" .
        )}}
  <div class="container">

    <div class="lead">
      {{ partial "PrepareHTML" .Content }}
    </div>

    {{- range site.Data.menus.primary -}}
      <section>
        {{ partial "home/top.html" . }}

        {{ if eq .kind "news" }}
          {{ partial "home/posts.html" . }}
        {{ else }}
          {{ if .children }}
            {{ partial "home/pages.html" . }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}

    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/_AFFALab_?ref_src=twsrc%5Etfw">Tweets by _AFFALab_</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div>
{{ end }}
