footer[role="contentinfo"]
    background-color: transparent
    .logo img
        height: 70px

    @include media-breakpoint-down(md)
        .complementary
            display: flex
            flex-direction: column-reverse
            small ~ small
                margin-bottom: px2rem(10)
            ul
                margin-bottom: 1rem
